.about__header {
  position: relative;
  display: flex;
  padding: 100px 7% 0 7%;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.about__header__texts {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.about__header__title {
  margin-top: 80px;
  font-size: 6.7rem;
  line-height: 7.2rem;
  font-weight: 700;
  width: fit-content;
}

.about__header__title__border {
  margin-top: 10px;
  width: 0%;
  height: 3px;
  background-color: rgb(0, 145, 255);
  transition: all 0.3s linear;
  border-radius: 3px;
}

.about__header__label {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.747);
  max-width: 70%;

  @media (max-width: 800px) {
    max-width: 100%;
  }
}

.about__header__label__highight {
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 0);
  margin: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 145, 255);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(-15deg) scale(1.05, 1);
  }
}

.about__header__link {
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  right: 7%;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover,
  &:focus {
    .about__header__link__arrow--container {
      box-shadow: inset 0 8rem 0 0 rgb(0, 145, 255);
      outline: none;
      color: white;
    }

    .about__header__link__text::before {
      width: 100%;
    }
  }
}

.about__header__link__arrow--container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;

  border-radius: 50%;
  font-size: 2.5rem;
  color: rgb(0, 145, 255);
  box-shadow: inset 0 0 0 0 rgb(0, 145, 255);
  transition: all 0.3s linear;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    border: 2px solid rgb(0, 145, 255);
    border-radius: 50%;
    transition: all 0.3s linear;
    z-index: -1;
  }
}

.about__header__link__text {
  height: fit-content;
  color: rgb(0, 145, 255);
  font-size: 3rem;
  font-weight: 300;
  position: relative;
  transition: all 0.3s linear;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 10%;
    border-radius: 3px;
    height: 1px;
    background-color: rgb(0, 145, 255);
    transition: all 0.3s linear;
    z-index: -1;
  }
}
